 <!-- Footer -->
 <footer class="ms-footer">
    <ul class="footer-socials">
        <li><a href="https://facebook.com/<%settings.facebook%>" class="ms-btn" target="_blank">Facebook</a></li>
        <li><a href="https://instagram.com/<%settings.instagram%>" class="ms-btn" target="_blank">Instagram</a></li>
        <li><a href="https://dribble.com/<%settings.dribble%>" class="ms-btn" target="_blank">Dribble</a></li>
    </ul>
    <div class="copyright"><%=settings.footer%></div>
</footer>
<!-- /Footer -->